<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="This is a placeholder for Awesome.">
    <title>Awesome</title>
    <link href="//cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css" rel="stylesheet">
  </head>
  <body>
    {{ content }}
    <footer class="footer">
      <div class="content has-text-centered">
        <p>
          <a href="mailto:me@hakanensari.com">me@hakanensari.com</a>
        </p>
      </div>
    </footer>
  </body>
</html>
